body {
  margin: 20px;
  padding: 50px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  font-size: 24px;
  border: 2px solid purple;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.form {
  margin-bottom: 70px;
}

.searchBox {
  padding-right: 50px;
  border-radius: 5px;
  display: inline-block;
  margin-right: 5px;
}

.btn {
  border-radius: 5px;
}

.linebreaker {
  border: 1px dashed greenyellow;
}

.list {
  list-style-type: none;
  display: inline;
 
}